<h1><%- btname[0].title %></h1>
<table class="table table-bordered border-primary">
    <thead>
        <td>작성자</td>
        <td>제목</td>
        <td>날짜</td>
    </thead>


 <% if (board.length > 0) { %>   
    <% var i=0; while(i < board.length) { %>
        <tr>
            <td><%- board[i].name %></td>
            <td><a href="/board/detail/<%- board[i].board_id %>/<%- pNum %>" style="text-decoration: none;"><%- board[i].title%></a></td>
            <td><%- board[i].date %></td>
        </tr>
        <% i++; } %>
<% } %>
</table>

<% if (is_empty==true) { %>
    <p>자료가 없으니 글쓰기 버튼으로 글을 추가해 주십시오. </p>
    <% } %>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <% if ( btname[0].write_YN === 'Y' && cls === 'CST' || cls === 'MNG') { %>
    <a href="/board/create/<%- btname[0].type_id %>"> <button type="button" class="btn btn-info me-md-2">글쓰기</button>
    </a>
    <% } %>

</div>


<% var j=1; 
    while (j <= totalPages) { 
        if(j==pNum) { %>
    <span style="font-weight : bold;"><%=j%></span> &nbsp;&nbsp;
    <% } else { %>
    <span><a href="/board/view/<%=btname[0].type_id%>/<%=j%>"><%=j%></a></span> &nbsp;&nbsp;
    <% }
    j++ } %>
