<head>
	<meta charset='utf-8'>
</head>

<% if (mode=='register' ) { %>
	<div class="container">
		<h2>회원가입</h2>
		<form action="/auth/register_process" method="post">
			<div class="mb-3">
				<label class="form-label" for="id">ID</label>
				<input class="form-control" type="text" name="loginid" placeholder="아이디를 입력해 주세요"
					style="width:300px;" />
			</div>
			<div class="mb-3">
				<label class="form-label" for="id">PW</label>
				<input class="form-control" type="text" name="password" placeholder="패스워드를 입력해 주세요"
					style="width:300px;" />
			</div>
			<div class="mb-3">
				<label class="form-label" for="id">이름</label>
				<input class="form-control" type="text" name="name" placeholder="이름을 입력해 주세요" value=""
					style="width:300px;" />
			</div>
			<div class="mb-3">
				<label class="form-label" for="id">주소</label>
				<input class="form-control" type="text" name="address" placeholder="주소를 입력해 주세요" value=""
					style="width:300px;" />
			</div>
			<div class="mb-3">
				<label class="form-label" for="id">전화번호</label>
				<input class="form-control" type="text" name="tel" placeholder="000-0000-0000" value=""
					style="width:300px;" />
			</div>
			<div class="mb-3">
				<label class="form-label" for="id">생일</label>
				<input class="form-control" type="text" name="birth" placeholder="YYYYMMDD" value=""
					style="width:300px;" />
			</div>

			<button class="btn btn-outline-primary btn-sm" type="submit">입력</button>
		</form>
	</div>
	<% } %>

		<% if (mode=='create') { %>
			<div class="container">
				<h2>관리자 기능 : 회원생성</h2>
				<form action="/person/create_process" method="post">
					<div class="mb-3">
						<label class="form-label" for="id">ID</label>
						<input class="form-control" type="text" name="loginid" placeholder="아이디를 입력해 주세요"
							style="width:300px;" />
					</div>
					<div class="mb-3">
						<label class="form-label" for="id">PW</label>
						<input class="form-control" type="text" name="password" placeholder="패스워드를 입력해 주세요"
							style="width:300px;" />
					</div>
					<div class="mb-3">
						<label class="form-label" for="id">이름</label>
						<input class="form-control" type="text" name="name" placeholder="이름을 입력해 주세요" value=""
							style="width:300px;" />
					</div>
					<div class="mb-3">
						<label class="form-label" for="id">주소</label>
						<input class="form-control" type="text" name="address" placeholder="주소를 입력해 주세요" value=""
							style="width:300px;" />
					</div>
					<div class="mb-3">
						<label class="form-label" for="id">전화번호</label>
						<input class="form-control" type="text" name="tel" placeholder="000-0000-0000" value=""
							style="width:300px;" />
					</div>
					<div class="mb-3">
						<label class="form-label" for="id">생일</label>
						<input class="form-control" type="text" name="birth" placeholder="YYYYMMDD" value=""
							style="width:300px;" />
					</div>

					<div class="mb-3">
						<label class="form-label" for="class">CLASS</label>
						<select name="class" id="class">
							<option value="CEO">경영자</option>
							<option value="MNG">관리자</option>
							<option value="CST" selected>고객</option>
						</select>
					</div>

					<div class="mb-3">
						<label class="form-label" for="grade">GRADE</label>
						<select name="grade" id="grade">
							<option value="S" selected>실버(가장 낮은 등급)</option>
							<option value="G">골드(중간 등급)</option>
							<option value="D">다이아몬드(가장 높은 등급)</option>
						</select>
					</div>
					<button class="btn btn-outline-primary btn-sm" type="submit">입력</button>
					<button class="btn btn-outline-primary btn-sm" type="button"
					onclick="location.href='/person/view'">고객 목록 돌아가기</button>
				</form>
			</div>
			<% } %>


				<% if (mode=='update' ) { %>
					<div class="container">
						<h2>관리자 기능 : 회원 정보 수정</h2>
						<form action="/person/update_process" method="post">
							<div class="mb-3">
								<label class="form-label" for="id">ID</label>
								<input class="form-control" type="text" name="loginid" value = "<%=per[0].loginid%>" placeholder="아이디를 입력해 주세요"
									style="width:300px;" />
							</div>
							<div class="mb-3">
								<label class="form-label" for="id">PW</label>
								<input class="form-control" type="text" name="password" value = "<%=per[0].password%>" placeholder="패스워드를 입력해 주세요"
									style="width:300px;" />
							</div>
							<div class="mb-3">
								<label class="form-label" for="id">이름</label>
								<input class="form-control" type="text" name="name" value = "<%=per[0].name%>" placeholder="이름을 입력해 주세요" 
									style="width:300px;" />
							</div>
							<div class="mb-3">
								<label class="form-label" for="id">주소</label>
								<input class="form-control" type="text" name="address" value = "<%=per[0].address%>" placeholder="주소를 입력해 주세요"
									value="" style="width:300px;" />
							</div>
							<div class="mb-3">
								<label class="form-label" for="id">전화번호</label>
								<input class="form-control" type="text" name="tel" value = "<%=per[0].tel%>" placeholder="000-0000-0000" 
									style="width:300px;" />
							</div>
							<div class="mb-3">
								<label class="form-label" for="id">생일</label>
								<input class="form-control" type="text" name="birth" placeholder="YYYYMMDD" value = "<%=per[0].birth%>"
									style="width:300px;" />
							</div>

							<div class="mb-3">
								<label class="form-label" for="class">CLASS</label>
								<select name="class" id="class">
									<option value="CEO" <% if (per[0].class === 'CEO') { %>selected<% } %>>경영자</option>
									<option value="MNG" <% if (per[0].class === 'MNG') { %>selected<% } %>>관리자</option>
									<option value="CST" <% if (per[0].class === 'CST') { %>selected<% } %>>고객</option>
								</select>
							</div>
		
							<div class="mb-3">
								<label class="form-label" for="grade">GRADE</label>
								<select name="grade" id="grade">
									<option value="S" <% if (per[0].grade === 'S') { %>selected<% } %>>실버(가장 낮은 등급)</option>
									<option value="G" <% if (per[0].grade === 'G') { %>selected<% } %>>골드(중간 등급)</option>
									<option value="D" <% if (per[0].grade === 'D') { %>selected<% } %>>다이아몬드(가장 높은 등급)</option>
								</select>
							</div>
							<input type = "hidden" name = "currentloginid" value = "<%=per[0].loginid%>" >
							<button class="btn btn-outline-primary btn-sm" type="submit">입력</button>
							<button class="btn btn-outline-primary btn-sm" type="button"
							onclick="location.href='/person/view'">고객 목록 돌아가기</button>
						</form>
					</div>
					<% } %>